body{
    background-color: var(--background-color);
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px;
}

.card{
    background-color: var(--advice-card-color);
    width: 450px;
    height: 230px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(
        0, 0, 0, 0.4);
}

.dentro-do-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#advice{
    color: var(--advice-dice-color);
    font-size: 12px;
    margin-top: 20px;
    text-shadow: 2px 2px 10px;
}

#texto{
    color: #CEE3E9;
    font-size: 20px;
    margin: 10px 20px 10px 20px;
    text-shadow: 2px 2px 10px;
}

.barra{
    margin-top: 20px;
    width: 80%;
}

.icone{
    display: flex;
    translate: 50% 50%;
}

.bola {
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid #000000;
    background-color: var(--advice-dice-color);
    margin-top: 34px;
}

.bola:hover{
    border: 1px solid #CEE3E9;
}

.bola:active{
    box-shadow: 2px 0px 40px 10px var(--advice-dice-color);
}

@media (max-width: 576px) {  
    .container{
        margin: 200px 30px 0px 30px;
    }

    .bola {
        margin-top: 8px;
    }
}